# IDE & Editor Config
.vscode

# Python Bytecode & Cache
__pycache__/
*.pyc
.pytest_cache
.ruff_cache

# Virtual environmnet & Environment Variables
.venv
.env

# System Files
.DS_Store
Thumbs.db

# Logs
logs/

# Data Files
data/*
!data/.gitkeep